{
    box-sizing: border-box;
}

html, body {
    color: #333;
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 0 1em;
    height: 100%;
}

h1 {
    padding: 1em 0 0 0;
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: black;
}

h2 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.exam_count {
    margin-top: 0;
    padding: 0 0.5em;
}

.search {
    background-color: #f8f8f8;
    outline: none;
    padding: 0 1.0em;
    font-weight: bold;
    border: 0;
    display: inline-block;
    min-height: 3.5em;
    line-height: 3.5em;
    text-decoration: none;
    margin: 0.25em 0.25em;
    font-size: 0.9em;
    width: calc(100% - 2.5em);
}

::placeholder {
    color: #888;
    opacity: 1.0;
}

.list {
    padding: 1em 1em;
    margin: 0;
    list-style: none;
}
.listitem {
    vertical-align: center;
    padding: 0.6em;
    margin: 0;
    cursor: pointer;
}
.listitem:hover {
    background-color: #eee;
}

.file-item {
    vertical-align: center;
    padding: 0.6em 4.5em;
    margin: 0;
    cursor: pointer;
    color: #888;
}

.file-item:hover {
    color: inherit;
}

.listitem-start {
    font-family: monospace;
    font-weight: bold;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

section {
    flex: 1 1 auto;
}

footer {
    display: inline;
    flex: 0 1 2em;
    width: 100%;
    text-align: center;
    vertical-align: center;
    padding: 1em;
}

footer a {
    text-decoration: none;
    margin: 0 1em;
}